/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;

	/*font-size: 100%; vertical-align: baseline;*/
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}




ul { list-style: none; }
ol { list-style: decimal; }

.ltr ol { margin-left: 20px; }
.rtl ol { margin-right: 20px; }

a,
a:link,
a:hover,
a:active,
a:visited { text-decoration: none; }


h1, h2, h3, h4, h5, h6 {
	word-wrap: break-word;
	font-weight: inherit;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: inherit !important; }

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup { top: -0.5em; }
sub { bottom: -0.25em; }


dl { width: 100%; overflow: hidden; }
dt { width: 30%; }
dd { width: 70%; }

.ltr dt, .ltr dd { float: left; }
.rtl dt, .rtl dd { float: right; }


pre {
	word-wrap: break-word;
	overflow: auto;
}


table {
	border-collapse: collapse;
	border-spacing: 0;
}




:focus { outline: 0; } /* only on inputs? */




.button,
button,
input,
textarea {
	margin: 0;
	padding: 0;
	border: 0;
	border-radius: 0;
}

.button,
button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	text-align: center;
	cursor: pointer;
	vertical-align: top;
}

input::-moz-focus-inner, button::-moz-focus-inner { border: 0; padding: 0; }
:focus::-webkit-input-placeholder { color: transparent !important; }




/* migrate to input button textarea */
textarea, input[type="text"], input[type="password"], input[type="email"], input[type="submit"], input[type="button"] {
	font-family: inherit;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


/* =Helpers
-------------------------------------------------------------- */

.cf:before, .cf:after {
	display: table;
	content: '';
}

.cf:after { clear: both; }


.left { float: left; }
.right { float: right; }

.center {
	clear: both;
	margin-left: auto !important;
	margin-right: auto !important;
	/*float: none !important;?*/
}

.center:before, .center:after {
	clear: both;
	content: '';
	display: table;
}


.align_left, .align-left { text-align: left; }
.align_right, .align-right { text-align: right; }
.align_center, .center-inside, .align-center { text-align: center; }

.center-inside .button, .align-center .button { margin-left: auto; margin-right: auto; }
.align-left .button { float: left; }
.align-right .button { float: right; }

.horizontal > div.right.first { margin-right: 0 !important; }
.horizontal > div.left.first { margin-left: 0 !important; }

.hidden { display: none; }

.w100 { width: 100% !important; }

/* =Icons
-------------------------------------------------------------- */

i {
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa { font-family: "FontAwesome"; }
.ion { font-family: "Ionicons"; }

/* =Adjustments
-------------------------------------------------------------- */

body.logged-in .mega_block_menu li.login {
	display: none;
}

/* Images */

img[class*="align"],
img[class*="wp-image-"],
img[class*="attachment-"] {
	height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
	max-width: calc(100% - 12px); /* do calc(100% - 10px)*/
}

/* make sure captions are 100% - WP adds inline width styling to .wp-caption class */
.wp-caption {
	max-width: 100%;
}

.loading {
	width: 32px; height: 32px;
	background: transparent url(theme/assets/images/loader.gif) no-repeat left top;
}



/* =Post Password
-------------------------------------------------------------- */

input[name="post_password"] { margin-top: 3px; margin-bottom: 10px; display: block; }

/* =WP Gallery
-------------------------------------------------------------- */

.gallery-columns-1 .gallery-item { width: 100%; }
.gallery-columns-2 .gallery-item { width: 50%; }
.gallery-columns-3 .gallery-item { width: 33%; }
.gallery-columns-4 .gallery-item { width: 25%; }
.gallery-columns-5 .gallery-item { width: 20%; }
.gallery-columns-6 .gallery-item { width: 16%; }
.gallery-columns-7 .gallery-item { width: 14%; }
.gallery-columns-8 .gallery-item { width: 12%; }
.gallery-columns-9 .gallery-item { width: 11%; }

.ltr .gallery-item { float: left; }
.rtl .gallery-item { float: right; }

.gallery-icon, .gallery-caption, .wp-caption-text {
	float: none !important;
	width: auto;
	text-align: center;

	margin: 0 auto;
	display: table;
}

.gallery-icon img {
	height: auto; /* max-width: 80%; ? */
}


/* =WP Alignments
-------------------------------------------------------------- */

.alignnone { float: none; }

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft { float: left; }
.alignright { float: right; }



/* ajax */

.ajaxresponse { display: none; }


/* =Ad Block
-------------------------------------------------------------- */

	/* Mobile */

	@media (max-width: 767px)
	{
		.mega_ads { max-width: 100%; }
		.mega_ads img { max-width: 100%; height: auto; }
	}

/* =Logo Block
-------------------------------------------------------------- */

	/* Mobile */

	@media (max-width: 767px)
	{
		.horizontal > .mega_block_logo img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}

		.horizontal > .mega_block_logo .text { width: initial !important; }
	}

/* =Accordion Block
-------------------------------------------------------------- */

.mega_block_accordion .accordion-element > .head {
	margin: 0;
	display: block;
	cursor: pointer;
	box-sizing: border-box;
	text-transform: uppercase;
	user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.mega_block_accordion .accordion-element > .head:after {
	content: "\f0d7";
	font-style: normal;
	font-weight: normal;
	line-height: inherit;
	font-family: FontAwesome;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ltr .mega_block_accordion .accordion-element > .head:after { float: right; }
.rtl .mega_block_accordion .accordion-element > .head:after { float: left; }

.mega_block_accordion .accordion-element.active > .head:after { content: "\f0d8"; }

.mega_block_accordion .accordion-element > .body {
	max-height: 350px;
	transition: all .4s ease;
}

.mega_block_accordion .accordion-element:not(.active) > .body { overflow-y: hidden; height: 0 !important; }

.mega_block_accordion .accordion-element.active > .body { overflow-y: auto; }

.mega_block_accordion .accordion-element.active.clicked > .body { overflow-y: hidden; }

/* =Paginate Block
-------------------------------------------------------------- */

.mega_block_paginate { text-align: center; }

.mega_block_paginate .page-numbers {
	vertical-align: top;
	text-align: center;
}

.ltr .mega_block_paginate .page-numbers { float: left; }
.rtl .mega_block_paginate .page-numbers { float: right; }

.ltr .mega_block_paginate .page-numbers:last-child { margin-right: 0; }
.rtl .mega_block_paginate .page-numbers:last-child { margin-left: 0; }

/* =Menu Block
-------------------------------------------------------------- */

.ltr .menu.hor > .menu-item { float: left; }
.rtl .menu.hor > .menu-item { float: right; }

.ltr .menu.hor > .menu-item:last-child { margin-right: 0 !important; }
.rtl .menu.hor > .menu-item:last-child { margin-left: 0 !important; }

@media (min-width: 967px)
{
.menu.hor.drop-left .menu-item { direction: rtl; }
.menu.hor.drop-right .menu-item { direction: ltr; }

.ltr .menu.hor.drop-left .menu-item > a { direction: ltr; }
.rtl .menu.hor.drop-right .menu-item > a { direction: rtl; }

.ltr .menu.hor.drop-left .sub-menu { direction: ltr; }
.rtl .menu.hor.drop-right .sub-menu { direction: rtl; }






.menu.drop-left .sub-menu .submenu-present > .sub-menu { right: 100%; }
.menu.drop-right .sub-menu .submenu-present > .sub-menu { left: 100%; }

.mega_block_parent_vblock .menu.ver.drop-left > .menu-item > .sub-menu { right: 100%; }
.mega_block_parent_vblock .menu.ver.drop-right > .menu-item > .sub-menu { left: 100%; }

.mega_block_parent_vblock > .mega_block_menu > .menu.ver > .menu-item.submenu-present:hover {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
}





.submenu-present > a,
.sub-menu > .submenu-present { position: relative; }

.menu-item > a.icon > span { display: none; }


	/* Mobile */

	@media (max-width: 767px)
	{
		.menu {
			display: table;
			margin-left: auto;
			margin-right: auto !important;
		}

		.mega_block_menu > .menu.vertical-mobile > li {
			width: 100% !important;
			float: none !important;
			border: 0 !important;
			border-bottom: 1px solid #efefef !important;
		}

		.mega_block_menu > .menu.vertical-mobile > li:last-child { border-bottom: 0 !important; }
	}


/* =Meta Block
-------------------------------------------------------------- */

.mega_block_meta span i { display: inline-block; }
.mega_block_meta span.no-icons i { display: none; }
.mega_block_meta span.no-icons { margin-left: 0 !important; margin-right: 0 !important; }

/* =Follow Block
-------------------------------------------------------------- */

.ltr .mega_block_follow li,
.ltr .mega_block_follow_counter li { float: left; }

.rtl .mega_block_follow li,
.rtl .mega_block_follow_counter li { float: right; }

/* =About Block
-------------------------------------------------------------- */

.mega_block_about img.logo { max-width: 100%; }

/* =Search Widget
-------------------------------------------------------------- */

.widget_search input[type="text"] { max-width: 100%; }

.ltr .widget_search input[type="text"] { margin-right: 5px; }
.rtl .widget_search input[type="text"] { margin-left: 5px; }

/* =Login Block
-------------------------------------------------------------- */

#user_login, #user_pass { display: block; margin-top: 3px; }

#loginform p { margin-bottom: 15px; }
#loginform p:last-child { margin-bottom: 0; }

/* =CTA Block
-------------------------------------------------------------- */

	/* Mobile */

	@media (max-width: 767px)
	{
		.mega_block_cta .content {
			width: 100% !important;
			float: none !important;
			text-align: center;
		}

		.mega_block_cta .button {/* to .button? */
			float: none !important;
			margin-left: auto !important;
			margin-right: auto !important;
		}
	}

/* =Copyright Block
-------------------------------------------------------------- */

.megaby { display: none; }

.mega { text-indent: -999999px; }

.ltr .mega { float: right; }
.rtl .mega { float: left; }

.mega_block_parent_vblock .megaby { display: inline; }

.mega_block_parent_vblock .mega {
	float: none;
	display: inline-block;
	vertical-align: middle;
}

	/* Mobile */

	@media (max-width: 767px)
	{
		.megaby { display: inline; }

		.mega {
			float: none !important;
			display: inline-block;
			vertical-align: middle;
		}
	}


/* =Table
-------------------------------------------------------------- */

.ltr .mega_block_table_column:last-child, .ltr .mega_block_table .owl-item:last-child { margin-right: 0 !important; }
.rtl .mega_block_table_column:last-child, .rtl .mega_block_table .owl-item:last-child { margin-left: 0 !important; }

.mega_block_table .owl-carousel { display: block; }

.mega_block_table .owl-stage {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.ltr .mega_block_table_column.label,
.ltr .mega_block_table_column.basic,
.ltr .mega_block_table_column.highlight {
	text-align: left;
	float: left;
}

.rtl .mega_block_table_column.label,
.rtl .mega_block_table_column.basic,
.rtl .mega_block_table_column.highlight {
	text-align: right;
	float: right;
}

.mega_block_table_column .row { box-sizing: content-box; }

.ltr .mega_block_table_column .row.spread { text-align: left; }
.rtl .mega_block_table_column .row.spread { text-align: right; }

.ltr .mega_block_table_column .row.spread i { float: right; }
.rtl .mega_block_table_column .row.spread i { float: left; }

.mega_block_table_column .row.center { text-align: center !important; }

.ltr .mega_block_table_column .row.center i { margin-left: 5px; }
.rtl .mega_block_table_column .row.center i { margin-right: 5px; }

/* Head */

.ltr .mega_block_table_column .row.spread .title_t,
.ltr .mega_block_table_column .row.head .desc { float: left; }

.rtl .mega_block_table_column .row.spread .title_t,
.rtl .mega_block_table_column .row.head .desc { float: right; }

.mega_block_table_column .row.head .desc { width: 100%; box-sizing: border-box; }

/* Foot */

.mega_block_table_column .row.foot span a.btn { text-align: center; }

.mega_block_table_column .row.foot.center span a.btn {
	display: table;
	margin: 0 auto;
}

.ltr .mega_block_table_column .row.foot.spread span a.btn { float: right; }
.rtl .mega_block_table_column .row.foot.spread span a.btn { float: left; }

	/* Mobile */

	@media (max-width: 767px)
	{
		.mega_block_table .owl-stage { display: block; }

		.mega_block_table_column { width: auto !important; margin-left: 0 !important; margin-right: 0 !important; }

		.mega_block_table_column.basic { margin-top: 0 !important; }
		.mega_block_table_column.highlight { padding-top: 0 !important; padding-bottom: 0 !important; }

		.mobile-carousel .mega_block_table_column:not(.highlight) .row.body,
		.mobile-carousel .mega_block_table_column:not(.highlight) .row.head span,
		.mobile-carousel .mega_block_table_column:not(.highlight) .row.foot span {
			padding-left: 42px;
			padding-right: 42px;
		}

		.mobile-carousel .owl-nav { position: initial; }

		.mobile-carousel .owl-prev,
		.mobile-carousel .owl-next {
			width: 28px; height: 100%;
			position: absolute;
			top: 0;
			border: 1px solid #E6E6E6;
		}

		.ltr .mobile-carousel .owl-prev,
		.rtl .mobile-carousel .owl-next {
			left: 0;
			border-left: 1px solid #D9D9D9;
			background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(233, 233, 233, 1));
			box-shadow: -1px 0 1px 0 #E9E9E9;
		}

		.ltr .mobile-carousel .owl-next,
		.rtl .mobile-carousel .owl-prev {
			right: 0;
			border-right: 1px solid #D9D9D9;
			background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(233, 233, 233, 1));
			box-shadow: 1px 0 1px 0 #E9E9E9;
		}

		.mobile-carousel .owl-prev i,
		.mobile-carousel .owl-next i {
			width: 26px;
			position: absolute;
			left: 0; top: calc(50% - 7px);
		}
	}








/* =Mobile & Tablet
-------------------------------------------------------------- */

@media (max-width: 767px)
{

.horizontal > * {
	float: none !important;
	width: auto !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
	margin-bottom: 25px;
}

.horizontal > *:last-child { margin-bottom: 0; }

textarea,
input[type="text"],
input[type="email"],
input[type="password"] { width: 100% !important; max-width: 100% !important; }

.mega_block_follow ul,
.mega_block_follow_counter ul {
	display: table;
	margin-left: auto;
	margin-right: auto;
}

.mega_block_copyright-wrapper { text-align: center; }

}

@media (max-width: 967px)
{

.hentry .mega_block_meta span.tag {
	margin-top: 10px;
}

}

@media (max-width: 1142px)
{

.auto-width {
	margin-left: auto !important;
	margin-right: auto !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	box-sizing: border-box;
}

}




















/* JP */

.jp-video {
	font: 400 14px/27px Lato;
	color: #282727;
	background: #F5F5F5;
}

.jp-video .jp-interface {
	background: -webkit-linear-gradient(#FFFFFF 50%, rgba(148, 34, 34, 0) 30px) left top / 100% 50% no-repeat;
	background: linear-gradient(#FFFFFF 50%, rgba(148, 34, 34, 0) 30px) left top / 100% 50% no-repeat;
	border: 1px solid #E0E0E0;
}

/* Progress */

.jp-video .jp-progress {
	width: 100%;
	background-color: #eaeaea;
	box-shadow: 0 1px 0 0 #dee2e2 inset;
}

.jp-video .jp-progress { height: 5px; }

.jp-video .jp-seek-bar {
	width: 0; height: 100%;
	cursor: pointer;
}

.jp-video .jp-play-bar {
	width: 0; height: 100%;
	overflow: visible !important;
	background-color: #37bbec;
	position: relative;
	padding-left: 15px;
	box-sizing: border-box;
}

.jp-video .jp-play-bar:after {
	width: 15px; height: 15px;
	margin-top: -6px;
	position: absolute;
	right: 0;
	content: '';
	background-color: #FFF;
	box-shadow: 1px 1px 1px 0 #C8C8C8;
	border: 1px solid #DCDCDC;
	border-radius: 100%;
}

/* Play & Pause */

.jp-video .jp-controls { float: left; margin: 0 !important; width: 50px; border-right: 1px solid #D7D7D7; box-shadow: 1px 0 0 0 #FFF; }
.jp-video .jp-controls li { display: block; }

.jp-video .jp-controls a.jp-play,
.jp-video .jp-controls a.jp-pause {
	display: block;
	color: #A4A4A4;
	text-align: center;
	user-select: none;
	-webkit-user-select: none;
}

.jp-video .jp-controls a span { display: none; }

.jp-video .jp-controls a.jp-play i,
.jp-video .jp-controls a.jp-pause i {
	display: inline-block;
	font-size: 23px;
	margin-top: 13px;

	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.jp-video .jp-controls a.jp-play i { margin-left: 6px; }

.jp-video .jp-controls a.jp-play i:before { content: "\f04b"; }
.jp-video .jp-controls a.jp-pause i:before { content: "\f04c"; }

.jp-video .jp-play,
.jp-video .jp-pause { width: 50px; height: 50px; }

.jp-video .jp-pause { display: none; }

.jp-video .jp-play:hover,
.jp-video .jp-pause:hover { color: #3BB1DC !important; }





/* */

.jp-video .jp-mute i, .jp-video .jp-unmute i {
	float: left;
	color: #9D9D9D;
	font-size: 18px;
	line-height: 50px;
	margin-left: 16px;
}

.icon-sound:before { content: "\f028"; }
.icon-mute:before { content: "\f027"; }

.jp-video .jp-volume-bar-container {
	width: 50px; height: 50px;
	float: left;
	text-align: center;
	border-right: 1px solid #D7D7D7;
	box-shadow: 1px 0 0 0 #FFF;
	transition: all .5s;
	overflow: hidden;
	position: relative;
}

.jp-video .jp-volume-bar-container:hover {
	width: 165px !important;
}

.jp-video .jp-volume-bar {
	width: 100px; height: 8px;
	position: absolute;
	left: 50px; top: 20px;
	background-color: #eaeaea;
	box-shadow: 0 1px 0 0 #dee2e2 inset;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all .3s cubic-bezier(1,0,0,0) 1s;
	transition: all .3s cubic-bezier(1,0,0,0) 1s;
	cursor: pointer;
	border-radius: 5px;
	overflow: hidden;
}

.jp-video .jp-volume-bar-container:hover .jp-volume-bar,
.jp-video .jp-volume-bar:hover {
	visibility: visible;
	opacity: 1;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.jp-video .jp-volume-bar-value {
	height: 100%;
	background-color: #37bbec;
}







.jp-video .jp-time-holder {
	margin-top: 19px;
	margin-left: 16px;
	float: left;
}

.jp-video .jp-current-time, .jp-video .jp-duration {
	float: left;
	font: 400 14px/10px Lato;
	color: #898989;
}

.jp-video .jp-duration { display: none; }

.jp-video .jp-title {
	font: 400 14px/50px Lato;
	color: #838383;
	float: right;
	margin-right: 15px;
}