/* =Paginate Block
-------------------------------------------------------------- */

.mega_block_paginate {
	display: table;
	margin: 30px 0;
	border-radius: 4px;
	border: 1px solid #EEE;
	border-bottom-color: #d7dbdb;
	background-color: #FFF;
	box-shadow: 0 1px 1px 0 #eee;
}

.mega_block_paginate .page-numbers {
	padding: 0 22px;
	font-weight: 900;
	font-size: 14px;
	line-height: 45px;
	background-color: #FAFAFA;
}

.ltr .mega_block_paginate .page-numbers { border-right: 1px solid #efefef; }
.rtl .mega_block_paginate .page-numbers { border-left: 1px solid #efefef; }

.mega_block_paginate .page-numbers:last-child { border: 0; }

.mega_block_paginate a.page-numbers {
	color: #282727;
	box-sizing: border-box;
}

.mega_block_paginate .page-numbers.prev,
.mega_block_paginate .page-numbers.next {
	padding: 0 40px;
	background: #FAFAFA;
	background-image: linear-gradient(-90deg, rgba(255, 255, 255, 0.79) 13%, rgba(255, 255, 255, 0) 19%, rgba(244, 244, 244, 0) 100%);
}

.mega_block_paginate .page-numbers i { color: #898989; }

.ltr .mega_block_paginate .page-numbers.prev i:before { margin-right: 8px; content: "\f053"; }
.ltr .mega_block_paginate .page-numbers.next i:before { margin-left: 8px; content: "\f054"; }

.rtl .mega_block_paginate .page-numbers.prev i:before { margin-left: 8px; content: "\f054"; }
.rtl .mega_block_paginate .page-numbers.next i:before { margin-right: 8px; content: "\f053"; }

.mega_block_paginate span.current { color: #37bbec; background-color: transparent; }