/* =Logo Block
---------------------------- */

.mega_block_logo a { display: block; }

.mega_block_logo a.text {
	color: #71A5F4;
	font-family: "Vag Rounded";
	margin-top: 5px;
	font-size: 36px;
	font-weight: 900;
}