/* =About Block
---------------------------- */

.mega_block_about .more { color: #37bbec; }
.mega_block_about .more:hover { color: #2a6496; }
.mega_block_about .more span { display: none; }

.ltr .mega_block_about .more { margin-left: 6px; }
.rtl .mega_block_about .more { margin-right: 6px; }

.ltr .mega_block_about .more i:before { content: "\f0a9"; }
.rtl .mega_block_about .more i:before { content: "\f0a8"; }