/* =Share Block
---------------------------- */

.mega_block_share a.share {
	font-weight: bold;
	color: #898989;
	font-size: 14px;
}

.mega_block_share.right a.share { float: right; }
.mega_block_share.left a.share { float: left; }

.mega_block_share a.share i {
	font-size: 16px;
	color: #d7dbdb;
}

.ltr .mega_block_share a.share i { margin-right: 7px; }
.rtl .mega_block_share a.share i { margin-left: 7px; }

.ltr .mega_block_share a.share i:before { content: "\f064"; }
.rtl .mega_block_share a.share i:before { content: "\f112"; }