/* Recent, Popular & Random Posts Block & Recent Comments Block */

.mega_block_posts ul li, .mega_block_comments ul li {
	padding-top: 13px !important;
	padding-bottom: 15px !important;
	overflow: hidden;

	line-height: 20px;
	line-height: normal !important;
}

.ltr .mega_block_posts img.thumb,
.ltr .widgetized img.avatar {
	float: left;
	margin: 2px 20px 0 0;
}

.rtl .mega_block_posts img.thumb,
.rtl .widgetized img.avatar {
	float: right;
	margin: 2px 0 0 10px;
}

/* remove div.title, use only a? */

.mega_block_posts .title,
.mega_block_comments .title {
	display: block;
	font-size: 14px;
	padding: 5px 0;
	color: #4e4e4e !important;
	font-weight: 700;
	word-break: break-all;
}

.mega_theme_block_footer .mega_block_posts .title,
.mega_theme_block_footer .mega_block_comments .title { font-size: 14px; }

.mega_block_posts h3, .mega_block_comments h3 { margin-bottom: 0 !important; }
.mega_block_posts ul, .mega_block_comments ul { margin-top: 0 !important; }

.mega_block_posts .meta > span,
.mega_block_comments .meta > span {
	display: inline-block;
	font-size: 12px;
	font-style: italic;
	color: #aaa;
}

.mega_block_posts .meta > span:nth-child(n+2):before,
.mega_block_comments .meta > span:nth-child(n+2):before {
	content: '//';
	margin-right: 4px;
	margin-left: 4px;
}