.mega_block_form_field_wrapper a:focus { box-shadow: none; -webkit-box-shadow: none; }

select.mega_block_feature_auto_icon,
select.mega_block_feature_custom_icon {
	font-family: "FontAwesome", Arial !important;
	font-size: 16px;
}

select.mega_block_feature_auto_icon2,
select.mega_block_feature_custom_icon2 {
	font-family: "Ionicons", Arial !important;
	font-size: 16px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	text-rendering: auto;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

input[readonly], textarea[readonly], select option[disabled] {
	background-color: #ECEFF1;/*#DFE4E7*/
	box-shadow: none !important;
}

.lock { display: none; }

.pro > .lock {
	width: 16px; height: 20px;
	margin: 0 5px 0 0;
	float: right;
	transition: none;

	display: inline-block;
	font: normal normal normal 22px/1 FontAwesome;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #4299D8;

	box-shadow: none;
	text-decoration: none;
}

.pro > .lock:hover { background-position: left bottom; }

a.lock:before { content: "\f023"; }
a.lock:hover:before { content: "\f13e"; }


.mega-customizer-cta {
	width: 100%; height: 45px;
	box-sizing: border-box;
	padding-left: 15px;
	display: block;
	z-index: 20;
	position: absolute;
	left: 0;
	top: 45px;
	font-size: 15px;
	font-weight: 700;
	line-height: 45px;
	color: #FFF;
	background: #61AFE8;
	border: 0;
	border-bottom: 1px solid #232324;
}

.mega-customizer-cta:hover { color: #FFF; background: #53A5E2; }
.mega-customizer-cta:focus { box-shadow: none; color: #FFF; }

.mega-customizer-cta:after {
	width: 43px; height: 100%;
	float: right;
	background: #4399D8;
	font: 400 20px/1 dashicons;
	text-indent: 0;
	text-align: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	content: "\f345";
	color: #FFF;
	line-height: 45px;
	border: 0;
}

.package-0 #customize-header-actions { height: 90px; }
.package-0 .wp-full-overlay-sidebar .wp-full-overlay-sidebar-content { top: 90px; }
.package-0 #customize-theme-controls .accordion-section-content { padding-bottom: 45px; }


.customize-control-title { display: block; }







.mega_cl .mega_cl { margin-left: 10px; }

.mega_cl li { word-break: break-all; }

*:not(.mega_cl) > .mega_cl { max-height: 200px; overflow-y: auto; }



.mega_widget_admin {
	line-height: 1.5;
    margin: 1em 0;
}